.form
{
    height: auto;
}

.results
{
    height: auto;
    width: 99%;
    margin-top: 0.5%;
    margin-bottom: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
}

.player
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 10px;
}

.row
{
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 2.5px;
    padding-right: 2.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.row span
{
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.row .heading
{
    font-weight: 700;
    text-align: left;
}

.row:first-of-type
{
    border-radius: 10px 10px 0 0;
}

.row:last-of-type
{
    border-radius: 0 0 10px 10px;
}

.results .row:nth-child(odd)
{
    background: rgba(33, 175, 76, 0.7);
}

.results .row:nth-child(even)
{
    background:  rgba(33, 175, 76, 0.3);
}

@media all and (max-width: 800px)
{
    .row
    {
        height: 50px;
    }
}