html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Lato";
}

body
{
    background-image: url(../assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.trans-layer
{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
}

.container
{
    height: 99%;
    width: 99%;
    margin: 1%;
    box-sizing: border-box;
    z-index: 2;
    position: relative;
}

.nav
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    background: rgba(2, 126, 196, 0.9);
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 3;
    position: relative;
}

.nav a
{   
    display: block;
    font-weight: 500;
    font-size: 1.1em;
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 0.75em;
}

.nav a:hover
{
    background: rgb(31, 168, 218);
    box-shadow: 0px 2px 2px -0.5px black;
}

.alert
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 98%;
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 10px;
}

.fa-times
{
    cursor: pointer;
    
}
.alert.failure
{
    background: rgba(232, 168, 160, 0.3);
    color: rgb(163, 18, 0);
    position: relative;
    z-index: 2;
}

.alert.failure .fa-times
{
    color: rgb(163, 18, 0);
}

.alert.success
{
    background: rgba(137, 229, 159, 0.3);
    color: rgb(0, 145, 34);
    position: relative;
    z-index: 2;
}

alert.success .fa-times
{
    color: rgb(0, 145, 34);
}

@media all and (max-width: 800px)
{
    .nav
    {
        justify-content: space-around;
    }
}

@media all and (max-width: 700px)
{
    .nav a
    {   
        font-size: 0.8em;
        padding: 0.5em;
    }
}

@media all and (max-width: 500px)
{
    .nav
    {
        flex-direction: column;
    }
}